body{
    background-color: antiquewhite;
}
h1{
    text-align: center;
}

.container{
    height: 300px;
    width: 500px;
    background-color: brown;
    border-radius: 50px;
    position: relative;
}

.practice-img{
    position: absolute;
    padding: 20px;
    margin: 0 auto;
    left: 180px;
    bottom: 25%;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: chocolate;
}